---
title: Home
description: About Materia Labs
image: https://source.unsplash.com/j5LSbCqB1wA/2000x1322?a=.png
bottom_image: https://unsplash.it/2000/1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Materia Labs is a software development company in Singapore.</h1>
			<p class="subtext editable">We are ready to tackle your most important software development initiatives. We are ready for tomorrow's business challenges by offering top quality software solutions tailored to your needs.</p>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Digital Strategy</h2>
				<p class="editable">We’re ready to go into your project and work with you to advise on how to properly scale up your business by leveraging the latest suite of technologies. Access a network of digital strategists with skills in research, minimum viable product, go to market plan & execution.</p>
			</div>
			<div class="image">
				<img class="editable" src="/images/strategy.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Development</h2>
				<p class="editable">Our team is comprised of experienced software veterans across a very wide array of software development languages and technologies. Top companies use Materia Labs’ software development skills for their most mission critical projects.</p>
			</div>
			<div class="image">
				<img class="editable" src="/images/develop.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">User Experience</h2>
				<p class="editable">UI/UX design is a defining factor for any digital product these days. Our team focuses on improving conversion and increasing customer engagement. Our UI/UX design capabilities don't stop at mobile apps, web applications, or multi‑platform digital experiences. Our goal is to create products and services that provide outstanding usability while fully embracing your brand's personality.</p>
			</div>
			<div class="image">
				<img class="editable" src="/images/ui.jpg" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h1 class="editable">Let's talk!</h1>
				<div class="cta button alt"><a href="#">Contact us</a></div>
			</div>
		</div>
	</section>
</div>
